.text-center {
    text-align: center;
}

#calculator {
    width: 250px;
    border: 1px solid;
    background-color: lightgray;
    display: inline-table;
    border-radius: 5px;
    padding: 5px;
}

    #calculator tr span {
        border: 1px solid;
        margin: 1px;
        padding: 15px;
        display: block;
        cursor: pointer;
        font-size: larger;
        background-color: lightyellow;
        border-radius: 5px;
    }

        #calculator tr span.operator {
            background-color: #faeea0;
        }

    #calculator td {
        width: 25%;
    }

    #calculator #visor {
        border: 1px solid;
        text-align: right;
        padding: 15px;
        margin: 15px;
        font-size: larger;
        font-weight: 600;
        background-color: white;
        border-radius: 5px;
    }


.center {
    margin: auto;
    width: 50%;
}
